.carousel_container {
    width: 100%;
    overflow: hidden;
}

.carousel_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.carousel_img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}